<html>
	<body>
		<h3>Dear Admin,</h3>
		<p>
		 ${request.userId} has requested access for Destination.
		</p>
		<p>
		  Please find the details below:
		</p>
		<table border="0">
  			<tr>
    			<td>Request Id</td>
    			<td>:</td>
   				<td>${request.requestId}</td>
  			</tr>
  			<tr>
    			<td>User Id</td>
    			<td>:</td>
    			<td>${request.userId}</td>
  			</tr>
  			<tr>
    			<td>User Email Id</td>
    			<td>:</td>
    			<td>${request.userEmailId}</td>
  			</tr>
  			<tr>
    			<td>Supervisor Id</td>
    			<td>:</td>
    			<td>${request.supervisorId}</td>
  			</tr>
  			<tr>
    			<td>Supervisor Email Id</td>
    			<td>:</td>
    			<td>${request.supervisorEmailId}</td>
  			</tr>
  			<tr>
    			<td>Reason for Request</td>
    			<td>:</td>
    			<td>${request.reasonForRequest}</td>
  			</tr>
  			<tr>
    			<td>Requested Date/Time</td>
    			<td>:</td>
    			<td>${request.requestReceivedDateTime}</td>
  			</tr>
		</table>
		<br>
		<br>
		Regards,<br>
		Destination Team.
	</body>
</html>