<html>
	<body>
		<h3>Dear ${userGroupOrUserRole},</h3>
		<p>
			 ${userName} has requested ${operation} ${workflowEntity} : ${workflowEntityName}  on ${submittedDate}. Kindly approve or reject in the system.
			 ${reason}
		</p>		
		<p>
		Regards,<br>
		Destination Team.
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>