<html>
	<body>
		<h3>Dear User,</h3>
		<p>
		Your account has been successfully created in Destination.
		</p>
		<p>
		Username                   : ${user.userName} <br>
		Password(System generated) : ${user.tempPassword}
		</p>
		<p>
		Please use the above credentials to log in DESTiNATION at ${destinationUrl}
		</p>
		<p>
		Please make sure you change your default password the first time you login.
		</p>
		<p>
		Regards,<br>
		Destination Team.
		<p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>