<html>
	<body>
		<p>Dear User,</p>
		<p>
             Please be informed that the following opportunity has been rejected for delivery from ${rejectedDeliveryCenter} by ${rejectedDeliveryClusterHeadName}.
        </p>     
        <p>
		  <table>
		  	<tr>
		  		<td><b>Opportunity Id</b></td><td>:</td><td>${opportunityId}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>CRM ID</b></td><td>:</td><td>${crmId}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Customer Name</b></td><td>:</td><td>${customerName}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Opportunity Name</b></td><td>:</td><td>${opportunityName}</td> 
		  	</tr>
		  </table>
		</p>	
        <p>
           The following details are provided for rejection:
        </p>
        <p>
		  <table>
		  	<tr>
		  		<td><b>Reasons</b></td><td>:</td><td>${rejectionReasons}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Comments</b></td> <td>:</td><td>${comments}</td> 
		  	</tr>
		  </table>
		</p>	    
		<p>
		Regards,<br>
		Team DESTiNATION
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>