<html>
	<body>
		<h3>Dear ${user.userName},</h3>
		<p>
		You have requested for forgot password on ${date}.Your system password is: ${user.tempPassword}
		</p>
		<p>
		Please ensure that you use this password on the Destination Login page as well as the subsequent Change Password page.
		</p>
		<p>
		Regards,<br>
		Destination Team.
		<p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>