<html>
	<body>
		Dear User,
		<p>
     
              We are glad to inform you that TCS Digital Enterprise has successfully closed the opportunity <b>&quot;${opportunityName}&quot;</b> for <b>&quot;${customerName}&quot;</b> and it is a <b>WIN</b>.<br/><br/>

              The key factors for the Win are as mentioned below:<br/>
            <b>&quot;${factorsForWinLoss}&quot;</b>. <br/><br/>

              This opportunity was led by <b>&quot;${opportunityOwner}&quot;</b> with support from <b>&quot;${salesSupportOwners}&quot;</b>.<br/>
              Deal size recorded is <b>&quot;${digitalBidValue}&quot;</b>.<br/>
              Opportunity Description: <b>&quot;${opportunityDescription}&quot;</b><br/>		
        </p>		
		<p>
		Thanks,<br>
		Destination Team.
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>