<html>
	<body>
		<h3>Dear User,</h3>
		<p>
     
              We are glad to inform you that TCS Digital Enterprise has successfully closed the opportunity ${opportunityName} for ${customerName} and it’s a WIN.

              The key factors for the Win are as mentioned below:
              ${factorsForWinLoss}. 

              This opportunity was led by ${opportunityOwner} with support from ${salesSupportOwners}.
              Deal size recorded is ${digitalBidValue}.
              Opportunity Description: ${opportunityDescription}		
        </p>		
		<p>
		Regards,<br>
		Destination Team.
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>