<html>
	<body>
		<h3>Dear Admin,</h3>
		<p>
		 ${request.userId} has requested for access to Destination portal on ${date}.Please find more information below and approve/reject in system on consulting with supervisor.
		</p>
		<p>
		  Please find the details below:
		</p>
		<table border="0">
  			<tr>
    			<td>User Id</td>
    			<td>:</td>
    			<td>${request.userId}</td>
  			</tr>
  			<tr>
    			<td>User Email Id</td>
    			<td>:</td>
    			<td>${request.userEmailId}</td>
  			</tr>
  			<tr>
    			<td>Supervisor Id</td>
    			<td>:</td>
    			<td>${request.supervisorId}</td>
  			</tr>
  			<tr>
    			<td>Supervisor Email Id</td>
    			<td>:</td>
    			<td>${request.supervisorEmailId}</td>
  			</tr>
  			<tr>
    			<td>Reason for Request</td>
    			<td>:</td>
    			<td>${request.reasonForRequest}</td>
  			</tr>
		</table>
		<p>
		Regards,<br>
		Destination Team.
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>