<html>
	<body>
		<h3>Dear ${user.userName},</h3>
		<p>
		Your account has been successfully created in Destination. Your system generated default password is: ${user.tempPassword}
		</p>
		<p>
		Please use this password to log in Destination at ${destinationUrl}
		</p>
		<p>
		Please make sure you change your default password the first time you login.
		</p>
		<p>
		Regards,<br>
		Destination Team.
		<p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>