<html>
	<body>
		<h3>Dear Admin,</h3>
		<p>
			${user.userName} has requested to reopen the opportunity on ${date}. Please find more information below and approve/reject in system.
		</p>
		<table border="0">
  			<tr>
    			<td>Opportunity Name</td>
    			<td>:</td>
    			<td>${opportunity.opportunityName}</td>
  			</tr>
  			<tr>
    			<td>Reopen Reason/comments</td>
    			<td>:</td>
    			<td>${request.reasonForReopen}</td>
  			</tr>
		</table>		
		<p>
		Regards,<br>
		Destination Team.
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>