<html>
	<body>
		<h3>Dear Admin,</h3>
		<p>
			${user.userName}($user.userId) has requested to reopen the opportunity.<br>
			Please find below the details,
		</p>
		<table border="0">
  			<tr>
    			<td>Request Id</td>
    			<td>:</td>
    			<td>${request.opportunityReopenRequestId}</td>
  			</tr>
  			<tr>
    			<td>Opportunity Name</td>
    			<td>:</td>
    			<td>${opportunity.opportunityName}</td>
  			</tr>
  			<tr>
    			<td>Reason</td>
    			<td>:</td>
    			<td>${request.reasonForReopen}</td>
  			</tr>
  			<tr>
    			<td>Requested Date/Time</td>
    			<td>:</td>
    			<td>${request.requestReceivedDatetime}</td>
  			</tr>
		</table>		
		<br>
		<br>
		Regards,<br>
		Destination Team.
	</body>
</html>