<!DOCTYPE html>
<html>
<style>
body {font-family: "Lato", sans-serif;}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
</style>
<body>

<p>Click on the links inside the tabbed menu:</p>

<ul class="tab">
  <li><a href="#" class="tablinks" onclick="openCity(event, 'test1')">test1</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'test2')">test2</a></li>
  <li><a href="#" class="tablinks" onclick="openCity(event, 'test3')">test3</a></li>
</ul>



<div id="test1" class="tabcontent">
  <h3>test1</h3>
  <p>testing1 is in progress</p>
  Image :: <img src="${imgSrc}" />
  
</div>

<div id="test2" class="tabcontent">
  <h3>test2</h3>
  <p>
 ${userNotifications}
</p>
</div>

<div id="test3" class="tabcontent">
  <h3>test3</h3>
  <p>
  ${reminderNotifications}
  </p>
</div>

<script>
function openCity(evt, test) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(test).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
     
</body>
</html>

