<html>
	<body>
		<p>Dear Delivery Centre Head,</p>
		<p>
             Your Cluster Head has accepted a Delivery Engagement, to be delivered from your Delivery centre.
        </p>  
             <p>Further details are given below:</p>
        <p>
		  <table>
		  	<tr>
		  		<td><b>Engagement Id</b></td> <td>:</td><td>${engagementId}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Opportunity Id</b></td><td>:</td><td>${opportunityId}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Customer Name</b></td><td>:</td><td>${customerName}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Opportunity Name</b></td><td>:</td><td>${opportunityName}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Engagement Start Date</b></td><td>:</td><td>${engagementStartDate}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Engagement Duration</b></td><td>:</td><td>${engagementDuration}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Delivery Ownership</b></td><td>:</td><td>${deliveryOwnership}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Delivery Centre</b></td><td>:</td><td>${deliveryCenter}</td> 
		  	</tr>
		  </table>
		</p>
		<p>
             You are requested to log in to DESTiNATION and tag a Delivery manager to provide planning and 
             fulfilment details.
        </p>		
		<p>
		Regards,<br>
		Team DESTiNATION
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>