<html>
	<body>
		Dear Cluster Head,
		<p>
     
             The below mentioned opportunity has been tagged to be delivered from your Cluster:<br/>
             This opportunity is currently at ${salesStage}.<br/><br/>
             
             Opportunity Id        : <b>${opportunityId}</b><br/>
             Customer Name         : <b>${customerName}</b><br/>
             Opportunity Name      : <b>${opportunityName}</b><br/>
             Delivery Ownership    : <b>${deliveryOwnership}</b><br/>
             Delivery Centre       : <b>${deliveryCenter}</b><br/>
             Win Probability       : <b>${winProbability}</b><br/>
             BD Contact            : <b>${opportunityOwner}</b><br/><br/>
             
             Please log in to DESTiNATION to see more information. We will intimate you again if this opportunity is a win.<br/><br/>    
        </p>		
		<p>
		Regards,<br>
		Team DESTiNATION
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>