<html>
	<body>
		<h4>Dear User,</h4>
		<p>
     
              We regret to inform you that TCS Digital Enterprise has Lost the opportunity ${opportunityName} for ${customerName}.<br/><br/>

              The key factors identified for the loss are as mentioned below:<br/>
            ${factorsForWinLoss}. <br/><br/>

              This opportunity was led by ${opportunityOwner} with support from ${salesSupportOwners}.<br/>
              Deal size recorded is ${digitalBidValue}.<br/>
              Opportunity Description: ${opportunityDescription}<br/>		
        </p>		
		<p>
		Regards,<br>
		Destination Team.
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>