<html>
	<body>
		<p>Dear User,</p>
		<p>
			 Your deal financial request for opportunity : ${opportunityName} with customer : ${customerName} and Opportunity ID ${opportunityId} is ${status}. 	
		</p>
		<p>
		   This opportunity is now moved to ${salesStageCode}
		</p>
		<p>
		   Please see the comments below:
		<br>
		   ${comments}     
		</p>     
		<p>
		Regards,<br>
		Team Destination.
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>




