<html>
	<body>
		Dear User,
		<p>
     
              We regret to inform you that <b>TCS Digital Enterprise</b> has <b>LOST</b> the opportunity <b>&quot;${opportunityName}&quot;</b> for <b>&quot;${customerName}&quot;</b>.<br/><br/>

              The key factors identified for the loss are as mentioned below:<br/>
            <b>&quot;${factorsForWinLoss}&quot;</b>. <br/><br/>

              This opportunity was led by <b>&quot;${opportunityOwner}&quot;</b> with support from <b>&quot;${salesSupportOwners}&quot;</b>.<br/>
              Deal size recorded is <b>&quot;${digitalBidValue} ${currencyType}&quot;</b>.<br/>
              Opportunity Description: <b>&quot;${opportunityDescription}&quot;</b><br/>		
        </p>		
		<p>
		Thanks,<br>
		Destination Team.
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>