<html>
	<body>
		<p>Dear Cluster Head,</p>
		<p>
             The below mentioned opportunity has been won and tagged to be delivered from your Cluster:
        </p>  
        <p>
		  <table>
		  	<tr>
		  		<td><b>Opportunity Id</b></td><td>:</td><td>${opportunityId}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Customer Name</b></td><td>:</td><td>${customerName}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Opportunity Name</b></td><td>:</td><td>${opportunityName}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Engagement Start Date</b></td><td>:</td><td>${engagementStartDate}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Engagement Duration</b></td><td>:</td><td>${engagementDuration}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Delivery Ownership</b></td><td>:</td><td>${deliveryOwnership}</td> 
		  	</tr>
		  	<tr>
		  		<td><b>Delivery Centre</b></td><td>:</td><td>${deliveryCenter}</td> 
		  	</tr>
		  </table>
		</p>
        <p> 
             Please log in to DESTiNATION to see more information.    
        </p>		
		<p>
		Regards,<br>
		Team DESTiNATION
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>