<html>
	<body>
		Dear User,
		<p>
     
             This is to notify that the delivery for the following engagement is marked live by ${deliveryManager}<br/><br/>
             
             Opportunity Id        : <b>${opportunityId}</b><br/>
             Engagement Id         : <b>${engagementId}</b><br/>
             Customer Name         : <b>${customerName}</b><br/>
             Opportunity Name      : <b>${opportunityName}</b><br/>
             Delivery Ownership    : <b>${deliveryOwnership}</b><br/>
             Delivery Centre       : <b>${deliveryCenter}</b><br/>
             WON                   : <b>${won}</b><br/>
             Actual Start Date     : <b>${actualStartDate}</b><br/><br/>
        </p>		
		<p>
		Regards,<br>
		Team DESTiNATION
		</p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>