<html>
	<body>
		<h3>Dear System Admin,</h3>
		<p>
		The ${entity} upload request #${requestId} for upload file "${fileName}", submitted on ${submittedDate} by ${userName} is pending for verification.
		</p>
		<p>
		The maintenance team will be contacting you shortly for verifying the authenticity.
		</p>
		<p>
		Regards,<br>
		Destination Team.
		<p>
		<br>
		<p>
		Note: This is a system-generated e-mail. Please do not respond to this mail.
		</p>
	</body>
</html>